<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 블루투스 통신에 필요원 권한 선언 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegisterLoginExample"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SellActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".SPageActivity" />
        <activity
            android:name=".BinListActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BinEditActivity"
            android:label="쓰레기통 정보 수정"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".BinMainActivity" />
        <activity android:name=".SalesListActivity" />
        <activity android:name=".BuyerMainActivity" />
        <activity android:name=".BuyActivity" />
        <activity android:name=".PurchasedListActivity" />
        <activity android:name=".AddDropBinActivity"/>
        <activity
            android:name=".BinAddActivity"
            android:label="쓰레기통 정보  추가"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".MapActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ba7ff834599531076a32bd67dbf74ed1" />
    </application>

</manifest>